{% extends 'base.html' %}

{% load static %}

{% block links %}

<style>
    #execucaoTable {
        font-size: 12px; /* Ajusta o tamanho da fonte */
    }
    #execucaoTable th, #execucaoTable td {
        padding: 4px 8px; /* Ajusta o padding das células */
    }
</style>

<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.1.1/css/searchPanes.dataTables.min.css">

{% endblock %}

{% block content %}


<div>
    
    <h2>Histórico de Execuções</h2>
    <div id="filters" class="mb-3">
        <label for="filterStatus">Status:</label>
        <select id="filterStatus" class="form-select d-inline w-auto">
            <option value="">Todos</option>
            <option value="em_espera">Em espera</option>
            <option value="em_execucao">Em execuçao</option>
            <option value="aguardando_material">Aguardando material</option>
            <option value="finalizada">Finalizada</option>
        </select>
    
        <label for="filterArea" class="ms-3">Setor:</label>
        <select id="filterArea" class="form-select d-inline w-auto">
            <option value="">Todas</option>
            {% for setor in setores %}
            <option value="{{setor.nome}}">{{setor.nome}}</option>
            {% endfor %}
        </select>
    
    </div>
    <div class="table-responsive">
        <table id="execucaoTable" class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>OS</th>
                    <th>Execução</th>
                    <th>Setor</th>
                    <th>Solicitante</th>
                    <th>Máquina</th>
                    <th>Comentário da manutenção</th>
                    <th>Motivo</th>
                    <th>Data de abertura</th>
                    <th>Data de início</th>
                    <th>Data de fim</th>
                    <th>Obs do executante</th>
                    <th>Status</th>
                    <th>Tipo da manutenção</th>
                    <th>Área da manutenção</th>
                    <th>Última atualização</th>
                    <th>Horas executadas</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/datatable-historico-execucao.js' %}"></script>
<script src="https://cdn.datatables.net/searchpanes/2.1.1/js/dataTables.searchPanes.min.js"></script>

{% endblock %}