{% load custom_filters %}

{% for solicitacao in page_obj %}
<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>#{{ solicitacao.pk }}</span>
            <div class="text-end ms-auto">
                {% if solicitacao.status_andamento %}
                    {% if solicitacao.status_andamento == 'finalizada' %}
                        <span class="badge text-bg-success">Finalizado</span>
                    {% elif solicitacao.status_andamento == 'em_execucao' %}
                        <span class="badge text-bg-info">Em execução</span>
                    {% elif solicitacao.status_andamento == 'aguardando_material' %}
                        <span class="badge text-bg-secondary">Aguardando material</span>
                    {% elif solicitacao.status_andamento == 'em_espera' %}
                        <span class="badge text-bg-warning">Em espera</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <h6 class="card-title d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <span class="fw-bold">{{ solicitacao.setor.nome }}</span>
                    <small><span title="{{ solicitacao.solicitante.nome }}" class="fw-bold">{{ solicitacao.solicitante.nome }}</span></small>
                    <span class="text-secondary">{{ solicitacao.get_impacto_producao_display }} impacto na produção</span>
                    {% if solicitacao.tarefa %}
                    <small><span title="{{ solicitacao.tarefa.nome }}" class="fw-bold">{{ solicitacao.tarefa.nome|truncatechars:20 }}</span></small>
                    {% else %}
                    <small><span title="{{ solicitacao.maquina.descricao }}" class="fw-bold">{{ solicitacao.maquina.descricao|truncatechars:15 }}</span></small>
                    {% endif %}
                </div>
                
                {% if solicitacao.status_andamento != 'finalizada' %}
                    <div class="d-flex flex-column align-items-end">
                        <!-- {% if solicitacao.maq_parada %}
                            <div class="d-flex align-items-center text-danger mb-1"> -->
                                <!-- Ícone SVG de Exclamação -->
                                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-exclamation-triangle-fill me-1" viewBox="0 0 16 16">
                                    <path
                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <small>Parada</small>
                            </div>
                        {% endif %} -->
                        
                        <div class="text-muted">
                            <small>{{ solicitacao.ultima_atualizacao|days_since }}</small>
                        </div>
                        {% if solicitacao.planejada %}
                            <small><span class="badge text-bg-dark ms-2">Preventiva</span></small>
                        {% endif %}
                        {% if solicitacao.programacao < today %}
                            <small class="text-danger ms-2">
                                <i class="bi bi-exclamation-circle-fill"></i> Atrasada
                            </small>
                        {% else %}
                            <small class="text-success ms-2">
                                <i class="bi bi-check-circle-fill"></i> Em dia
                            </small>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="d-flex flex-column align-items-end">
                        {% if solicitacao.tarefa %}
                            <small><span class="badge text-bg-dark ms-2">Rotina</span></small>
                        {% endif %}
                        {% if solicitacao.satisfacao_registrada %}
                            <small title="Respondido pelo solicitante" class="text-success ms-2">
                                <i class="bi bi-check-circle-fill"></i>Respondido
                            </small>
                        {% else %}
                            <small title="Aguardando resposta do solicitante" class="text-warning ms-2">
                                <i class="bi bi-clock-fill"></i> Aguardando
                                <a id="btnReenviarWpp_{{solicitacao.pk}}" href="#" title="Reenviar">
                                    <i class="bi bi-arrow-repeat"></i>
                                </a>
                            </small>
                        {% endif %}
                    </div>
                {% endif %}
            </h6>

        </div>
        <div class="card-footer d-flex justify-content-between">
            <div>
                {% if solicitacao.fotos.exists %}
                    <button type="button" class="badge btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#fotosModal{{ solicitacao.pk }}">
                        Fotos
                    </button>
                {% else %}
                    <span class="badge bg-secondary">Sem Fotos</span>
                {% endif %}
                {% if solicitacao.video %}
                    <button type="button" class="badge btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#videosModal{{ solicitacao.pk }}">
                        Vídeos
                    </button>
                {% else %}
                    <span class="badge bg-secondary">Sem Vídeos</span>
                {% endif %}
            </div>
            {% if not request.user.tipo_acesso == 'solicitante' %}
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false" style="background: none; border: none; padding: 0;">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if not solicitacao.status_andamento == 'finalizada' %}
                            <a id="btnVisualizarOrdem_{{solicitacao.pk}}" class="dropdown-item" href="#" data-bs-toggle="modal"
                                data-bs-target="#executarModal{{ solicitacao.pk }}">Executar</a>
                        {% endif %}
                        <a id="btnHistorico_{{ solicitacao.pk }}" class="dropdown-item" href="#" data-bs-toggle="modal"
                            data-bs-target="#historicoModal{{ solicitacao.pk }}">
                            Histórico
                        </a>
                        <a id="btnDetalhes_{{ solicitacao.pk }}" class="dropdown-item" href="#" data-bs-toggle="modal"
                            data-bs-target="#maisDetalhesModal{{ solicitacao.pk }}">
                            Detalhes
                        </a>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal para executar ordem -->
<div class="modal fade" id="executarModal{{ solicitacao.pk }}"
    aria-labelledby="executarModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="executarModalLabel{{ solicitacao.pk }}">Executar ordem #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="formExecucaoProducao" data-ordem-id="{{ solicitacao.pk }}" data-modal-id="executarModal{{ solicitacao.pk }}" method="post" action="{% url 'criar_execucao' solicitacao.pk %}">
                    {% csrf_token %}

                    <!-- Collapse para Informações Gerais -->
                    <h2 class="fs-5">
                        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseInformacoesGerais"
                            role="button" aria-expanded="false" aria-controls="collapseInformacoesGerais">
                            Informações gerais
                        </a>
                    </h2>
                    <div class="collapse show" id="collapseInformacoesGerais">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="setor_info">Setor</label>
                                <input class="form-control" type="text" value="{{solicitacao.setor.nome}}" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label for="solicitante_info">Solicitante</label>
                                <input class="form-control" type="text"
                                    value="{{solicitacao.solicitante.matricula}} - {{solicitacao.solicitante.nome}}"
                                    readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="data_abertura_info">Data de abertura</label>
                                <input class="form-control" type="text" value="{{solicitacao.data_abertura}}" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label for="data_abertura_info">Impacto na produção</label>
                                <input class="form-control" type="text" value="{{solicitacao.get_impacto_producao_display}}"
                                    readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label">Motivo</label>
                                <textarea class="form-control" readonly>{{solicitacao.descricao}}</textarea>
                            </div>
                        </div>

                    </div>
                    <hr>
                    
                    <!-- Collapse para Detalhes sobre máquina de solda -->
                    {% if solicitacao.setor.nome == 'Solda' %}
                    <h2>
                        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseDetalheSetorSolda" role="button"
                            aria-expanded="false" aria-controls="collapseDetalheSetorSolda">
                            Detalhes sobre setor de Solda
                        </a>
                    </h2>
                    <div class="collapse" id="collapseDetalheSetorSolda">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="equipamento_em_falha" class="form-label">Equipamento em falha</label>
                                <input class="form-control" type="text" value="{{solicitacao.get_equipamento_em_falha_display }}" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label for="setor_maq_solda" class="form-label">Setor da máquina de solda</label>
                                <input class="form-control" type="text" value="{{solicitacao.get_setor_maq_solda_display}}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="tipo_ferramenta" class="form-label">Tipo da ferramenta</label>
                                <input class="form-control" type="text" value="{{solicitacao.tipo_ferramenta}}" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label for="codigo_ferramenta" class="form-label">Código da ferramenta</label>
                                <input class="form-control" type="text" value="{{solicitacao.codigo_ferramenta}}" readonly>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endif %}                    
                    <!-- Collapse para Execução -->
                    <h2 class="fs-5">
                        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExecucao" role="button"
                            aria-expanded="false" aria-controls="collapseExecucao">
                            Execução
                        </a>
                    </h2>
                    <div class="collapse" id="collapseExecucao">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Data de Início -->
                                <div class="mb-3">
                                    <label for="id_data_inicio" class="form-label">Data de Início</label>
                                    <input type="datetime-local" class="form-control" id="id_data_inicio"
                                        name="data_inicio" value="" required>
                                </div>
                            </div>

                            <!-- Data de Fim -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="id_data_fim" class="form-label">Data de Fim</label>
                                    <input type="datetime-local" class="form-control" id="id_data_fim" name="data_fim"
                                        value="" required>
                                </div>
                            </div>
                        </div>

                        <!-- Observação -->
                        <div class="mb-3">
                            <label for="id_observacao" class="form-label">Observação</label>
                            <textarea class="form-control" id="id_observacao" name="observacao" required></textarea>
                        </div>

                        <!-- Operador -->
                        <div class="mb-3">
                            <label for="id_operador" class="form-label">Operador</label>
                            <select multiple class="form-control" id="id_operador_{{solicitacao.pk}}" name="operador" required>
                                {% for operador in operadores %}
                                <option value="{{ operador.pk }}">{{ operador.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Status -->
                        <div class="mb-3">
                            <label for="id_status_{{ solicitacao.pk }}" class="form-label">Status</label>
                            <select class="form-control" id="id_status_{{ solicitacao.pk }}" name="status" required>
                                <option value=""></option>
                                {% for choice in status_choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <hr>

                        <div id="container-reabrir-ordem" style="display: none;">
                            <div id="solicitarNovaOrdem_{{solicitacao.pk}}" class="row mb-3">
                                <div class="col-sm-12">
                                    <label for="">Deseja abrir uma nova ordem para essa máquina?</label>
                                    <select class="form-control" id="solicitarAberturaNovaOrdem_{{solicitacao.pk}}">
                                        <option value="">--------</option>
                                        <option value="sim">Sim</option>
                                        <option value="nao">Não</option>
                                    </select>
                                </div>
                                <div id="motivoNovaOrdem" class="col-sm-12" style="display: none;">
                                    <label for="motivoNovaOrdemInput">Motivo:</label>
                                    <input class="form-control" type="text" name="motivoNovaOrdemInput" id="motivoNovaOrdemInput">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botão de Envio -->
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar foto -->
<div class="modal fade" id="fotosModal{{ solicitacao.pk }}" aria-labelledby="fotosModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fotosModalLabel{{ solicitacao.pk }}">Fotos da Solicitação #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for foto in solicitacao.fotos.all %}
                    <div class="col-md-4">
                        <img src="{{ foto.imagem.url }}" class="img-fluid img-thumbnail mb-2" alt="Foto da Solicitação #{{ solicitacao.pk }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar vídeo -->
<div class="modal fade" id="videosModal{{ solicitacao.pk }}" aria-labelledby="videosModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videosModalLabel{{ solicitacao.pk }}">Vídeo da Solicitação #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% if solicitacao.video %}
                    <div class="col-md-12">
                        <video controls class="img-fluid mb-2">
                            <source src="{{ solicitacao.video.url }}" type="video/mp4">
                            Seu navegador não suporta o elemento de vídeo.
                        </video>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal histórico -->
<div class="modal fade" id="historicoModal{{ solicitacao.pk }}" tabindex="-1" aria-labelledby="historicoModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historicoModalLabel{{ solicitacao.pk }}">Histórico ordem #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bodyHistorico_{{solicitacao.pk}}" style="min-height: 200px; max-height: 700px; overflow-y: auto;">

            </div>
        </div>
    </div>
</div>

<!-- Modal mais detalhes -->
<div class="modal fade" id="maisDetalhesModal{{ solicitacao.pk }}" tabindex="-1" aria-labelledby="maisDetalhesModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="maisDetalhesModalLabel{{ solicitacao.pk }}">Mais detalhes ordem #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bodyMaisDetalhes_{{solicitacao.pk}}" style="min-height: 200px; max-height: 700px; overflow-y: auto;">

            </div>
        </div>
    </div>
</div>

{% endfor %}    