
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block links %}
<!-- FullCalendar CSS -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">

<style>
    .legenda {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .legenda-item {
        display: flex;
        align-items: center;
    }

    .legenda-cor {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 5px;
    }

    .legenda-red {
        background-color: rgb(255, 104, 104);
    }

    .legenda-yellow {
        background-color: orange;
    }

    .legenda-green {
        background-color: rgb(30, 216, 30);
    }

    .legenda-blue {
        background-color: rgb(85, 217, 250);
    }

    #calendar {
        max-width: 100%;
        margin: 50px auto;
    }

    #carregamentoOrdens {
        max-width: 100%;
        margin: 25px auto ;
    }
</style>
{% endblock %}

<div>
    <input type="hidden" id="area" value="{{area}}">
    <h2>Programação de Ordens</h2>

    <!-- Legenda -->
    <div class="legenda">
        <div class="legenda-item">
            <div class="legenda-cor legenda-red"></div>
            <span>Atrasada</span>
        </div>
        <div class="legenda-item">
            <div class="legenda-cor legenda-green"></div>
            <span>Preventiva</span>
        </div>
        <div class="legenda-item">
            <div class="legenda-cor legenda-yellow"></div>
            <span>Preventiva Atrasada</span>
        </div>
        <div class="legenda-item">
            <div class="legenda-cor legenda-blue"></div>
            <span>No prazo</span>
        </div>
    </div>

</div>

<div id="carregamentoOrdens">
    <span class="spinner-border spinner-border spinnerItem" role="status" aria-hidden="true"></span>
    <span style="font-size: 1.3rem;">Carregando ordens...</span>
</div>

<div id="calendar"></div>

<!-- FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var area = document.getElementById('area').value;
        var carregamento = document.getElementById('carregamentoOrdens');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',  // Exibe o calendário no modo mensal
            dayMaxEvents: 5,
            moreLinkText: 'mais',
            contentHeight: 'auto',
            // events: `/programacao/ordens-programadas/${area}/`,
            events : function(info, successCallback, failureCallback) {
                // Intercepta a requisição de eventos antes de ser enviada
                console.log("Preparando para carregar eventos...");
                // Usa o jQuery AJAX para adicionar o beforeSend
                $.ajax({
                    url: `/programacao/ordens-programadas/${area}/`,
                    type: 'GET',
                    // beforeSend: function() {
                    //     // carregamentoOrdens.style.display = 'block';
                    // },
                    success: function(data) {
                        // Se a requisição for bem-sucedida, chama o successCallback
                        successCallback(data);
                        carregamento.style.display = 'none';
                    },
                    error: function(error) {
                        // Em caso de erro, chama o failureCallback
                        console.error('Erro ao carregar eventos:', error);
                        failureCallback(error);
                    }
                });
            },
            locale: 'pt-br',  // Define o idioma para português
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            eventClick: function(info) {
                // Exibe um alert com detalhes da ordem ao clicar no evento
                alert(`Máquina: ${info.event.title}\nMotivo: ${info.event.extendedProps.description}\nSetor: ${info.event.extendedProps.setor}`);
            },
            eventDidMount: function(info) {
                // Adiciona um tooltip com a descrição ao passar o mouse sobre o evento
                info.el.setAttribute('title', info.event.extendedProps.description);

                if (info.event.extendedProps.atrasada && info.event.extendedProps.planejada) {
                    info.el.style.backgroundColor = 'orange';  // Cor para planejadas e atrasadas
                    info.el.style.borderColor = 'orange';
                } else if (info.event.extendedProps.atrasada) {
                    info.el.style.backgroundColor = 'rgb(255, 104, 104)';  // Cor para apenas atrasadas
                    info.el.style.borderColor = 'rgb(255, 104, 104)';
                } else if (info.event.extendedProps.planejada) {
                    info.el.style.backgroundColor = 'rgb(30, 216, 30)';  // Cor para planejadas
                    info.el.style.borderColor = 'rgb(30, 216, 30)';
                } else {
                    info.el.style.backgroundColor = 'rgb(85, 217, 250)';  // Cor padrão para outras ordens
                    info.el.style.borderColor = 'rgb(85, 217, 250)';
                }
            }
        });

        // Renderiza o calendário
        calendar.render();
    });
</script>

{% endblock %}