<div class="header-container">
    <h2 id="semana-atual-info">Semana Atual: Carregando...</h2>
    <div class="header-right">
        <label for="filtro-maquina">Buscar máquina:</label>
        <input
            id="filtro-maquina"
            class="filtro-maquina"
            type="text"
            placeholder="Digite o nome da máquina" />
        <a href="/preventiva/" class="btn-voltar">Voltar para Preventivas</a>
    </div>
</div>

<div id="semanas-container" class="semanas-container"></div>

