{% for solicitacao in aguardando_primeiro_atendimento %}
<div class="col-md-6">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>#{{ solicitacao.pk }}</span>
            <div class="text-end ms-auto">
                {% if solicitacao.ultimo_status %}
                    {% if solicitacao.ultimo_status == 'finalizada' %}
                    <span class="badge text-bg-success">Finalizado</span>
                    {% elif solicitacao.ultimo_status == 'em_execucao' %}
                    <span class="badge text-bg-info">Em execução</span>
                    {% elif solicitacao.ultimo_status == 'aguardando_material' %}
                    <span class="badge text-bg-secondary">Aguardando material</span>
                    {% else %}
                    <span class="badge text-bg-primary"><small>Aguardando atendimento</small></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <h6 class="card-title d-flex justify-content-between align-items-center">
                {{ solicitacao.setor.nome }}
                <div class="d-flex flex-column align-items-end">
                    {% if solicitacao.maq_parada %}
                    <div class="text-danger">
                        <!-- Ícone SVG de Exclamação -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <small>Parada</small>
                    </div>
                    {% endif %}
                    <!-- Toggle Button Máquina Parada -->
                    <!-- <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="maqParadaToggle{{ solicitacao.id }}"
                            {% if solicitacao.maq_parada %} checked {% endif %}
                            onchange="toggleMaqParada({{ solicitacao.id }})">
                    </div> -->
                </div>
            </h6>
            <p class="card-text d-flex align-items-center">
                <span class="me-auto">{{ solicitacao.impacto_producao }}</span>
                {% if solicitacao.planejada %}
                <small><span class="badge text-bg-dark ms-2">Preventiva</span></small>
                {% endif %}
            </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <div>
                {% if solicitacao.fotos.exists %}
                <button type="button" class="badge btn btn-sm btn-primary" data-bs-toggle="modal"
                    data-bs-target="#fotosModal{{ solicitacao.pk }}">
                    Fotos
                </button>
                {% else %}
                <span class="badge bg-secondary">Sem Fotos</span>
                {% endif %}
                {% if solicitacao.video %}
                <button type="button" class="badge btn btn-sm btn-primary" data-bs-toggle="modal"
                    data-bs-target="#videosModal{{ solicitacao.pk }}">
                    Vídeos
                </button>
                {% else %}
                <span class="badge bg-secondary">Sem Vídeos</span>
                {% endif %}
            </div>
            {% if not request.user.tipo_acesso == 'solicitante' %}
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background: none; border: none; padding: 0;">
                    &#x22EE;
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if not solicitacao.ultimo_status == 'finalizada' %}
                    <a class="dropdown-item" href="#" data-bs-toggle="modal"
                        data-bs-target="#editarOrdemInicialModal{{ solicitacao.pk }}">Primeiro atendimento</a>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal para mostrar foto -->
<div class="modal fade" id="fotosModal{{ solicitacao.pk }}" tabindex="-1" aria-labelledby="fotosModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fotosModalLabel{{ solicitacao.pk }}">Fotos da Solicitação #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for foto in solicitacao.fotos.all %}
                    <div class="col-md-4">
                        <img src="{{ foto.imagem.url }}" class="img-fluid img-thumbnail mb-2" alt="Foto da Solicitação #{{ solicitacao.pk }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar vídeo -->
<div class="modal fade" id="videosModal{{ solicitacao.pk }}" tabindex="-1" aria-labelledby="videosModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videosModalLabel{{ solicitacao.pk }}">Vídeo da Solicitação #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% if solicitacao.video %}
                    <div class="col-md-12">
                        <video controls class="img-fluid mb-2">
                            <source src="{{ solicitacao.video.url }}" type="video/mp4">
                            Seu navegador não suporta o elemento de vídeo.
                        </video>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para primeiro atendimento -->
<div class="modal fade" id="editarOrdemInicialModal{{ solicitacao.pk }}" tabindex="-1"
    aria-labelledby="editarOrdemInicialModalLabel{{ solicitacao.pk }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarOrdemInicialModalLabel{{ solicitacao.pk }}">Criar Execução para Solicitação #{{ solicitacao.pk }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'editar_solicitacao' solicitacao.pk %}" id="formExecucaoProducao">
                    {% csrf_token %}

                    <!-- Collapse para Informações Gerais -->
                    <h2 class="fs-5 d-flex justify-content-between align-items-center">
                        <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseInformacoesGerais" role="button" aria-expanded="false" aria-controls="collapseInformacoesGerais">
                            Informações gerais
                        </a>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="flagMaqParada" id="maqParadaToggle{{ solicitacao.id }}" {% if solicitacao.maq_parada %} checked {% endif %}>
                            <div class="text-danger">
                                <!-- Ícone SVG de Exclamação -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                    class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                <small>Parada</small>
                            </div>
                        </div>
                    </h2>
                    <div class="collapse show" id="collapseInformacoesGerais">
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="setor_info">Setor</label>
                                <input class="form-control" type="text" value="{{solicitacao.setor.nome}}" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label for="solicitante_info">Solicitante</label>
                                <input class="form-control" type="text"
                                    value="{{solicitacao.solicitante.matricula}} - {{solicitacao.solicitante.nome}}"
                                    readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="data_abertura_info">Data de abertura</label>
                                <input class="form-control" type="datetime-local" id="data_abertura_info" name="data_abertura" value="{{ solicitacao.data_abertura|date:'Y-m-d\\TH:i' }}">
                            </div>
                            <div class="col-sm-6">
                                <label for="data_abertura_info">Impacto na produção</label>
                                <input class="form-control" type="text" value="{{solicitacao.get_impacto_producao_display}}"
                                    readonly>
                            </div>
                        </div>
                        {% if solicitacao.setor.nome == 'Solda' %}
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="">Equipamento em falha</label>
                                <input class="form-control" type="text" value="{{ solicitacao.get_equipamento_em_falha_display }}">
                            </div>
                            <div class="col-sm-6">
                                <label for="">Setor máquina de solda</label>
                                <input class="form-control" type="text" value="{{ solicitacao.get_setor_maq_solda_display }}"
                                    readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="">Tipo da ferramenta</label>
                                <input class="form-control" type="text" value="{{ solicitacao.get_tipo_ferramenta_display }}"
                                    readonly>
                            </div>
                            <div class="col-sm-6">
                                <label for="">Código da ferramenta</label>
                                <input class="form-control" type="text" value="{{ solicitacao.codigo_ferramenta }}">
                            </div>

                        </div>
                        {% endif %}
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="descricao_usuario">Descrição do usuário</label>
                                <textarea class="form-control" name="descricao_usuario" id="descricao_usuario" readonly>{{solicitacao.descricao}}</textarea>
                            </div>
                            <div class="col-sm-6">
                                <label for="comentario_manutencao">Comentário do PCM</label>
                                <textarea class="form-control" name="comentario_manutencao" id="comentario_manutencao" required>{% if solicitacao.comentario_manutencao %}{{ solicitacao.comentario_manutencao }}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label for="status_inicial">Status</label>
                                <select class="form-control" name="status_inicial" id="status_inicial" required>
                                    <option value="">----------</option>
                                    <option value="reijeitar">Rejeitar</option>
                                    <option value="aprovar">Aprovar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- Botão de Envio -->
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}


    