 /* Estilizando a barra de rolagem */
 .card-body::-webkit-scrollbar {
    width: 8px; /* Define a largura da barra de rolagem */
}

/* Fundo da barra de rolagem */
.card-body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 10px;
}

/* Polegar (parte que se move) */
.card-body::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar */
    border-radius: 10px;
}

/* Polegar quando está sendo clicado */
.card-body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do polegar ao passar o mouse */
}
