{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Operadores</h2>
    <input id="user-area" type="text" value="{{request.user.area}}" style="display: none;">
    <span class="badge btn btn-primary mb-3" id="addOperador">Adicionar operador</span>


    <div class="table-responsive">
        <table id="tableOperadores" class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Salário</th>
                    <th>Status</th>
                    <th>Área</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Dados serão gerados dinamicamente -->
            </tbody>
        </table>
    </div>
    <div id="overlayLoading" style="text-align: center;">
        <div class="spinner-border text-primary" role="status"></div>
        <span class="ms-2">Carregando...</span>
    </div>
</div>

{% include 'operador/operador_modals.html' %}
{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="{% static 'js/datatable-list-operador.js' %}"></script>
<script type="module" src="{% static 'js/operador-crud.js' %}"></script>
{% endblock %}
