{% extends 'base.html' %}
{% load static %}

{% block content %}
<h6 class="text-center mt-4">Solicitação de serviço para produção</h6>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-12 col-md-8 col-lg-6 p-4 border rounded shadow">
        <form method="post" enctype="multipart/form-data" id="abrirOrdemServico">
            {% csrf_token %}

            <!-- Seção: Setor -->
            <div class="mb-3">
                <label for="{{ form.setor.id_for_label }}" class="form-label">{{ form.setor.label }} <small><strong>(Setor onde o problema ocorre)</strong></small></label>
                {{ form.setor }}
            </div>

            <!-- Equipamento em Falha (Campo Condicional) -->
            <div id="solda-eq-em-falha" class="mb-3" style="display: none;">
                <label for="{{ form.equipamento_em_falha.id_for_label }}" class="form-label">
                    {{ form.equipamento_em_falha.label }}
                </label>
                {{ form.equipamento_em_falha }}
            </div>

            <!-- Seção: Máquina -->
            <div id="maquina-geral" class="mb-3">
                <label for="{{ form.maquina.id_for_label }}" class="form-label">{{ form.maquina.label }}</label>
                {{ form.maquina }}
            </div>

            <!-- Seção: Ferramentas -->
            <div id="ferramentas" class="mb-3">
                <label for="{{ form.tipo_ferramenta.id_for_label }}" class="form-label">{{ form.tipo_ferramenta.label }}</label>
                {{ form.tipo_ferramenta }}
                <label for="{{ form.codigo_ferramenta.id_for_label }}" class="form-label mt-2">{{ form.codigo_ferramenta.label }}</label>
                {{ form.codigo_ferramenta }}
            </div>

            <!-- Seção: Setor Máquina de Solda (Campo Condicional) -->
            <div id="maq-solda-setor" class="mb-3" style="display: none;">
                <label for="{{ form.setor_maq_solda.id_for_label }}" class="form-label">{{ form.setor_maq_solda.label }}</label>
                {{ form.setor_maq_solda }}
            </div>

            <!-- Descrição -->
            <div class="mb-3">
                <label for="{{ form.descricao.id_for_label }}" class="form-label">{{ form.descricao.label }} do problema <small><strong>(Forneça detalhes)</strong></small></label>
                {{ form.descricao }}
            </div>

            <!-- Impacto na Produção -->
            <div class="mb-3">
                <label for="{{ form.impacto_producao.id_for_label }}" class="form-label">{{ form.impacto_producao.label }} <small><strong>(Qual impacto na produção?)</strong></small></label>
                {{ form.impacto_producao }}
            </div>

            <!-- Máquina Parada -->
            <div class="mb-3 form-check">
                {{ form.maq_parada }}
                <label class="form-check-label" for="{{ form.maq_parada.id_for_label }}">
                    Máquina se encontra parada?
                </label>
            </div>

            <!-- Upload de Fotos -->
            <div class="mb-3">
                <label for="id_imagens" class="form-label">Upload de Fotos:</label>
                {{ form2.as_p }}
            </div>

            <!-- Upload de Vídeo -->
            <div class="mb-3">
                <label for="{{ form.video.id_for_label }}" class="form-label">{{ form.video.label }}</label>
                {{ form.video }}
            </div>

            <!-- Botão de Envio -->
            <button id="btnEnviar" type="submit" class="btn btn-primary w-100">Criar Solicitação</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Inicializa select2 no campo setor
        $('#id_setor').select2({
            placeholder: "Selecione o setor",
            allowClear: true,
            width: '100%'
        });

        // Inicializa select2 no campo equipamento em falha (se necessário)
        $('#id_equipamento_em_falha').select2({
            placeholder: "Selecione o equipamento em falha",
            allowClear: true,
            width: '100%'
        });

        $('#id_maquina').select2({
            placeholder: "Selecione o equipamento em falha",
            allowClear: true,
            width: '100%'
        });
        
        // Captura elementos
        var soldaEqEmFalha = document.getElementById('solda-eq-em-falha');
        var setor = document.getElementById('id_setor');
        var soldaMaqLocal = document.getElementById('maq-solda-setor');
        var eqEmFalha = document.getElementById('id_equipamento_em_falha');
        var ferramentaSolda = document.getElementById('ferramentas');
        var maquinaGeral = document.getElementById('maquina-geral');

        // Verifica se os elementos existem antes de continuar
        if (!setor || !eqEmFalha) {
            return; // Para a execução se os elementos não existirem
        }

        // Função para mostrar/ocultar campos com base no setor selecionado
        function toggleFieldsSolda() {
            var selectTextSetor = setor.options[setor.selectedIndex].textContent;

            if (selectTextSetor === 'Solda') {
                soldaEqEmFalha.style.display = 'block';

                if (eqEmFalha.value === 'maquina_de_solda') {
                    soldaMaqLocal.style.display = 'block';
                    maquinaGeral.style.display = 'block';
                    ferramentaSolda.style.display = 'none';
                    document.getElementById('id_tipo_ferramenta').value = '';
                    document.getElementById('id_codigo_ferramenta').value = '';
                } else if (eqEmFalha.value === 'ferramentas') {
                    ferramentaSolda.style.display = 'block';
                    maquinaGeral.style.display = 'none';
                    soldaMaqLocal.style.display = 'none';
                    document.getElementById('id_setor_maq_solda').value = '';
                } else if (eqEmFalha.value === 'robo_kuka' || eqEmFalha.value === 'outros') {
                    // maquinaGeral.style.display = 'none';
                    soldaMaqLocal.style.display = 'none';
                    document.getElementById('id_setor_maq_solda').value = '';
                    ferramentaSolda.style.display = 'none';
                    document.getElementById('id_tipo_ferramenta').value = '';
                    document.getElementById('id_codigo_ferramenta').value = '';
                } else {
                    soldaMaqLocal.style.display = 'none';
                    document.getElementById('id_tipo_ferramenta').value = '';
                    document.getElementById('id_codigo_ferramenta').value = '';
                    document.getElementById('id_setor_maq_solda').value = '';
                    ferramentaSolda.style.display = 'none';
                    maquinaGeral.style.display = 'block';
                }
            } else {
                soldaEqEmFalha.style.display = 'none';
                document.getElementById('id_equipamento_em_falha').value = '';
                document.getElementById('id_setor_maq_solda').value = '';
                ferramentaSolda.style.display = 'none';
                maquinaGeral.style.display = 'block';
            }
        }

        // Chama a função ao carregar a página
        toggleFieldsSolda();

        function ajax(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    callback(JSON.parse(xhr.responseText));
                }
            };
            xhr.onerror = function() {
                console.error('Erro na requisição AJAX.');
            };
            xhr.send();
        }

        function updateSelectElement(selectElementId, options, labelCallback) {
            var selectElement = document.getElementById(selectElementId);

            if (!selectElement) return;

            // Limpa as opções atuais do select
            selectElement.innerHTML = '';

            // Adiciona a opção padrão
            var defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Selecione...';
            selectElement.appendChild(defaultOption);

            // Adiciona novas opções baseadas nos dados retornados
            options.forEach(function(optionData) {
                var option = document.createElement('option');
                option.value = optionData.pk;  // O campo `pk` é o ID único do objeto
                option.text = labelCallback(optionData);  // Usa o callback para definir o texto exibido
                selectElement.appendChild(option);
            });
        }

        // Evento para capturar mudança no campo setor e buscar as máquinas
        $('#id_setor').on('change.select2', function () {
            toggleFieldsSolda();  // Alterna os campos relevantes
            
            var setorSelect = document.getElementById('id_setor');
            var setorSelecionado = setorSelect.value;
            
            if (setorSelecionado) {
                var maquinaSelect = document.getElementById('id_maquina');
                maquinaSelect.disabled = true;
                
                // Exibe a opção "Carregando..." enquanto a requisição é processada
                maquinaSelect.innerHTML = '<option>Carregando...</option>';

                // Faz a requisição AJAX para buscar máquinas pelo setor
                ajax(
                    '{% url "get_maquina_by_setor" %}?setor=' + encodeURIComponent(setorSelecionado),
                    function (data) {
                        if (data.maquinas) {
                            updateSelectElement('id_maquina', JSON.parse(data.maquinas), function (optionData) {
                                return optionData.fields.codigo + ' - ' + optionData.fields.descricao;
                            });
                            maquinaSelect.disabled = false;
                        } else {
                            maquinaSelect.innerHTML = '<option>Nenhuma máquina encontrada</option>';
                            console.error('Nenhuma máquina encontrada.');
                        }
                    }
                );
            }
        });

        $('#id_equipamento_em_falha').on('change.select2', function() {
            
            toggleFieldsSolda();

            var maquinaSelect = document.getElementById('id_maquina');
            maquinaSelect.disabled = true;
            
            // Exibe a opção "Carregando..." enquanto a requisição é processada
            maquinaSelect.innerHTML = '<option>Carregando...</option>';

            var setorSelect = document.getElementById('id_setor');
            var tipoSelect = document.getElementById('id_equipamento_em_falha');

            var setorSelecionado = setorSelect.value;
            var tipoSelecionado = tipoSelect.value;

            if (setorSelecionado) {
                // Faz a requisição AJAX para buscar máquinas pelo setor
                var url = '{% url "get_maquina_by_eq_em_falha" %}?setor=' + encodeURIComponent(setorSelecionado) + '&tipo=' + encodeURIComponent(tipoSelecionado);

                ajax(url, function(data) {
                    if (data.maquinas) {
                        updateSelectElement('id_maquina', JSON.parse(data.maquinas), function(optionData) {
                            return optionData.fields.codigo + ' - ' + optionData.fields.descricao;
                        });
                        maquinaSelect.disabled = false;
                    } else {
                        console.error('Nenhuma máquina encontrada.');
                    }
                });
            }
        });

        $('#id_equipamento_em_falha').on('change.select2', function() {
            toggleFieldsSolda();
        });

        const form = document.getElementById('abrirOrdemServico');
        const btnEnviar = document.getElementById('btnEnviar');

        form.addEventListener('submit', function () {
            // Desativa ambos os botões após o clique em um deles
            btnEnviar.disabled = true;
        });

    });
</script>

{% endblock %}
