{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/cards/cards_home.css' %}">
{% endblock %}

{% block content %}

<div class="mb-3">
    <div class="mb-3">
        <!-- Botão para mostrar/ocultar filtros -->
        <h2 class="fs-5">
            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseFiltros" role="button" aria-expanded="false" aria-controls="collapseFiltros">
                Filtros
            </a>
        </h2>
    
        <!-- Collapse para o Formulário de Filtros -->
        <div class="collapse" id="collapseFiltros">
            <form method="GET" class="row g-3" id="filter-form">
                <div class="col-md-3">
                    <label for="solicitante" class="form-label">Solicitante</label>
                    <input type="text" class="form-control" id="solicitante" name="solicitante" value="{{ solicitante|default_if_none:'' }}" placeholder="Nome do Solicitante">
                </div>
                <div class="col-md-3">
                    <label for="setor" class="form-label">Setor</label>
                    <select class="form-select" id="setor" name="setor">
                        <option value="">Todos</option>
                        {% for setor in setores %}
                        <option value="{{ setor.id }}" {% if setor_id == setor.id|stringformat:"s" %}selected{% endif %}>{{ setor.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="ultimo_status" class="form-label">Status</label>
                    <select class="form-select" id="ultimo_status" name="ultimo_status">
                        <option value="">Todos</option>
                        <option value="em_espera">Em espera</option>
                        {% for status in status_choices %}
                        <option value="{{ status.0 }}" >{{ status.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="maq_parada" class="form-label">Máquina Parada</label>
                    <select class="form-select" id="maq_parada" name="maq_parada">
                        <option value="">Todos</option>
                        <option value="sim" {% if maq_parada == 'sim' %}selected{% endif %}>Sim</option>
                        <option value="nao" {% if maq_parada == 'nao' %}selected{% endif %}>Não</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="data_abertura" class="form-label">Data de Abertura</label>
                    <input type="date" class="form-control" id="data_abertura" name="data_abertura" value="{{ data_abertura|default_if_none:'' }}">
                </div>
                <!-- Filtro de Planejadas -->
                <div class="col-md-3">
                    <label for="planejada" class="form-label"></label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="planejada" name="planejada" value="1" {% if planejada == '1' %}checked{% endif %}>
                        <label class="form-check-label" for="planejada">Mostrar Apenas Planejadas</label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                    <a href="{% url 'home_producao' %}" class="btn btn-secondary">Limpar Filtros</a>
                </div>
            </form>
        </div>
    </div>

    <div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col">
                <div class="card custom-card custom-border-primary">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-secondary">Primeiro atendimento</p>
                                <h4 class="my-1 text-primary">{{ aguardando_primeiro_atendimento_card }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card custom-border-warning">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-secondary">Em espera</p>
                                <h4 class="my-1 text-warning">{{ quantidade_em_aberto }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card custom-border-info">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-secondary">Em andamento</p>
                                <h4 class="my-1 text-info">{{ quantidade_em_execucao }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card custom-border-secondary">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-secondary">Aguardando material</p>
                                <h4 class="my-1 text-secondary">{{ aguardando_material }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card custom-border-success">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-secondary">Finalizada</p>
                                <h4 class="my-1 text-success">{{ quantidade_finalizada }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row my-4">
        <!-- Aguardando primeiro atendimento -->
        {% if request.user.tipo_acesso == 'administrador' %}
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-header" id="headingAguardandoPrimeiroAtendimento">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAguardandoPrimeiroAtendimento" aria-expanded="true" aria-controls="collapseAguardandoPrimeiroAtendimento">
                            Primeiro atendimento
                        </button>
                    </h5>
                </div>
                <div id="collapseAguardandoPrimeiroAtendimento" class="collapse show" aria-labelledby="headingAguardandoPrimeiroAtendimento">
                    <div class="card-body" style="min-height: 500px; max-height: 500px; overflow-y: auto;">
                        <div class="row" id="aguardando-primeiro-atendimento-container">
                            <p>Carregando ordens...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Solicitações -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" id="headingSolicitacoes">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSolicitacoes" aria-expanded="true" aria-controls="collapseSolicitacoes">
                            Solicitações
                        </button>
                    </h5>
                </div>
                <div id="collapseSolicitacoes" class="collapse show" aria-labelledby="headingSolicitacoes">
                    <div class="card-body" style="min-height: 500px; max-height: 500px; overflow-y: auto;">
                        <div class="row" id="solicitacoes-container">
                            <!-- Conteúdo será carregado via AJAX -->
                            <p>Carregando ordens...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!-- Solicitações -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" id="headingSolicitacoes">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSolicitacoes" aria-expanded="true" aria-controls="collapseSolicitacoes">
                            Solicitações
                        </button>
                    </h5>
                </div>
                <div id="collapseSolicitacoes" class="collapse show" aria-labelledby="headingSolicitacoes">
                    <div class="card-body" style="min-height: 500px; max-height: 500px; overflow-y: auto;">
                        <div class="row" id="solicitacoes-container">
                            <!-- Conteúdo será carregado via AJAX -->
                            <p>Carregando ordens...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Máquinas paradas -->
    <div class="row my-4">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-header" id="headingMaquinasParadas">
                    <h5 class="mb-0">
                        Máquinas paradas
                    </h5>
                </div>
                <div class="card-body" style="min-height: 500px; max-height: 500px; overflow-y: auto;">
                    <div class="row" id="maquinas-paradas-container">
                        <!-- Conteúdo será carregado via AJAX -->
                        <p>Carregando ordens...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Função para carregar seções usando fetch e atualizar os containers
        function loadSection(url, containerId, ...callbacks) {  // Aceita múltiplos callbacks usando o operador rest
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    document.getElementById(containerId).innerHTML = html;

                    // Executa todos os callbacks (se houver) após o carregamento da seção
                    callbacks.forEach(callback => {
                        if (typeof callback === 'function') {
                            callback();
                        }
                    });
                })
                .catch(error => {
                    console.error("Erro ao carregar seção:", error);
                });
        }

        // Função para adicionar event listeners aos formulários de iniciar ordem
        function attachExecutarOrdemEventListeners() {
            const forms = document.querySelectorAll('.formExecucaoProducao');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário
                    
                    // Mostrar o modal de carregamento
                    // const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    // modalLoading.show();

                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao executar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            // Atualizar as seções necessárias
                            loadSection("maquinas-paradas/", "maquinas-paradas-container")
                            loadSection("solicitacoes/", "solicitacoes-container", attachExecutarOrdemEventListeners),
                            
                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            // modalLoading.hide();
                            
                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Execução feita com sucesso!',
                                confirmButtonText: 'OK'
                            });
                        
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao executar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao executar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        // Função para adicionar event listeners aos formulários de finalizar ordem
        function attachExecutar1OrdemEventListeners() {
            const forms = document.querySelectorAll('.form1ExecucaoProducao');
            forms.forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Impede o envio tradicional do formulário
                    
                    // Mostrar o modal de carregamento
                    // const modalLoading = new bootstrap.Modal(document.getElementById('modalLoading'));
                    // modalLoading.show();
                    
                    // Obter a URL de envio
                    const url = form.getAttribute('action');
                    const modalId = form.dataset.modalId;

                    // Criar um objeto FormData para capturar os dados do formulário
                    const formData = new FormData(form);

                    // Enviar a requisição AJAX
                    fetch(url, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Erro ao finalizar a ordem.');
                        }
                    })
                    .then(data => {
                        if (data.status === 'success') {
                            console.log(data);
                            // Atualizar a seção das ordens em processo
                            loadSection("maquinas-paradas/", "maquinas-paradas-container")
                            loadSection("solicitacoes/", "solicitacoes-container", attachExecutarOrdemEventListeners),
                            loadSection("aguardando-primeiro-atendimento/", "aguardando-primeiro-atendimento-container", attachExecutar1OrdemEventListeners),

                            // Ocultar o modal de carregamento e mostrar uma mensagem de sucesso
                            // modalLoading.hide();

                            // Mostrar o popup de sucesso
                            Swal.fire({
                                icon: 'success',
                                title: 'Sucesso',
                                text: 'Ordem finalizada com sucesso!',
                                confirmButtonText: 'OK'
                            });

                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao finalizar a ordem. Tente novamente.');
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: 'Ocorreu um erro ao finalizar a ordem. Tente novamente.',
                            confirmButtonText: 'OK'
                        });
                    });
                });
            });
        }

        Promise.all([
            loadSection("aguardando-primeiro-atendimento/", "aguardando-primeiro-atendimento-container", attachExecutar1OrdemEventListeners),
            loadSection("solicitacoes/", "solicitacoes-container", attachExecutarOrdemEventListeners),
            loadSection("maquinas-paradas/", "maquinas-paradas-container")
        ]).then(() => {
            console.log("Todas as seções foram carregadas com sucesso.");
        }).catch(error => {
            console.error("Erro ao carregar as seções:", error);
        });

    });
</script>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        var filterForm = document.getElementById('filter-form');
        
        filterForm.addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(filterForm);
            var params = new URLSearchParams(formData).toString();

            fetch("?" + params, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('solicitacoes-container').innerHTML = data.html;
                document.getElementById('maquinas-paradas-container').innerHTML = data.html_maquinas_paradas;
                document.getElementById('aguardando-primeiro-atendimento-container').innerHTML = data.html_aguardando_primeiro_atendimento;

                var loadMoreButton = document.getElementById('loadMore');
                if (data.nextPage) {
                    loadMoreButton.dataset.nextPage = data.nextPage;
                    loadMoreButton.style.display = 'block';
                } else {
                    loadMoreButton.style.display = 'none';
                }
            });
        });

        var loadMoreButton = document.getElementById('loadMore');
        loadMoreButton.addEventListener('click', function() {
            var nextPage = loadMoreButton.dataset.nextPage;
            var formData = new FormData(filterForm);
            formData.append('page', nextPage);
            var params = new URLSearchParams(formData).toString();

            fetch("?" + params, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('solicitacoes-container').insertAdjacentHTML('beforeend', data.html);
                if (data.nextPage) {
                    loadMoreButton.dataset.nextPage = data.nextPage;
                    loadMoreButton.style.display = 'block';
                } else {
                    loadMoreButton.style.display = 'none';
                }
            });
        });
    });
</script>

<script>
    function toggleMaqParada(solicitacaoId) {
        const isChecked = document.getElementById(`maqParadaToggle${solicitacaoId}`).checked;

        // Envia uma requisição AJAX para atualizar o status da máquina
        fetch("{% url 'atualizar_status_maq_parada' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}', // Inclua o CSRF token
            },
            body: JSON.stringify({
                'solicitacao_id': solicitacaoId,
                'maq_parada': isChecked
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Status da máquina atualizado com sucesso!');
            } else {
                alert('Erro ao atualizar o status da máquina.');
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Erro ao atualizar o status da máquina.');
        });
    }
</script>

<script>
    document.querySelectorAll('[id^="id_status_"]').forEach(selectElement => {
        selectElement.addEventListener('change', function() {
            const isFinalizada = this.value === 'finalizada';
            const modalId = this.id.split('_').pop(); // Obtém o identificador exclusivo do modal

            const checkbox1 = document.querySelector(`#executarModal${modalId} #id_che_maq_parada`);
            const checkbox2 = document.querySelector(`#executarModal${modalId} #id_exec_maq_parada`);
            const checkbox3 = document.querySelector(`#executarModal${modalId} #id_apos_exec_maq_parada`);

            if (isFinalizada) {
                checkbox1.disabled = true;
                checkbox2.disabled = true;
                checkbox3.disabled = true;
            } else {
                checkbox1.disabled = false;
                checkbox2.disabled = false;
                checkbox3.disabled = false;
            }
        });
    });
</script> -->

{% endblock %}
